<div class="container-fluid">
  <div class="title-block">
    <p class="page-title">Asignación de Tecnicos</p>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-sm-9">
      <div class="card">
        <div class="card-body" style="font-size: 0.9rem">
          <div class="row form-group d-flex align-items-center">
            <div class="col-sm-2 col-2">
              <label dlabels="dlabels" class="control-label">Nro. de Orden: </label>
            </div>
            <div class="col-sm-4 col-4">
              <input dTextBox="dTextBox" maxlength="20" class="form-control" name="txtNroOrden"
                [textMask]="{mask: numOrdenMask}" placeholder="Nro. Orden" [(ngModel)]="busqueda.numero_orden">
            </div>
            <div class="col-sm-2 col-2">
              <label dlabels="dlabels" class="control-label">Fecha de Recepcion: </label>
            </div>
            <div class="col-sm-4 col-4">

              <mat-form-field style="width: 100%">
                <input matInput [matDatepicker]="picker" placeholder="dd/mm/aaaa" readonly
                  [(ngModel)]="busqueda.fecha_recepcion">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row form-group d-flex align-items-center">
            <div class="col-sm-2 col-2">
              <label dlabels="dlabels" class="control-label">Tipo de Solicitud: </label>
            </div>
            <div class="col-sm-4 col-4">
              <mat-form-field style="width: 100%">
                <mat-label>Tipo de Solicitud</mat-label>
                <mat-select [(ngModel)]="busqueda.id_tipo_solicitud" name="tipoSolicitud">
                  <mat-option *ngFor="let tipoSolicitud of listaTipoSolicitud"
                    [value]="tipoSolicitud.id_tipo_solicitud">
                    {{tipoSolicitud.tipo_solicitud}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-2 col-2">
              <label dlabels="dlabels" class="control-label">Estado de Solicitud: </label>
            </div>
            <div class="col-sm-4 col-4">
              <mat-form-field style="width: 100%">
                <mat-label>Estado</mat-label>
                <mat-select [(ngModel)]="busqueda.id_estado" name="estadoSolicitud">
                  <mat-option *ngFor="let estado of listaEstadoSolicitud" [value]="estado.id_estado">
                    {{estado.estado}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="float-right">
                <button class="btn btn-info mr-1" (click)="ConsultaPrincipal(busqueda)" type="button" id="btnBuscar">
                  <i class="fa fa-search"></i> Buscar</button>
                <button class="btn btn-debug mr-1" (click)="LimpiarControles()" type="button" id="btnLimpiar">
                  <i class="icon icon-limpiar"></i> Limpiar</button>
                <span style="color: #00a3e8">

                  <!-- <button class="btn btn-danger" type="button" id="btnExportarGeneral" (click)="exportarReporte()">
                          <i class="icon icon-excel"></i> Exportar</button> -->
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-sm-3">
      <div class="card bg-secondary">
        <div class="card-body">
          <div class="div-centrado text-center c-white">
            <div class="f-s-5rem l-h-100">{{totalRegistros}}</div>
            <div class="control-label">Ordenes de Servicio</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="card card-default card-principal">
    <div class="card-body">
      <div class="group-box">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-sm-12">
            <table class="table table-hover table-bordered table-responsive table-principal" style="font-size: 0.7rem">
              <thead class="table-active">
                <tr>
                  <th rowspan="2">Nro.</th>
                  <th rowspan="2">ORDEN</th>
                  <th rowspan="2">SOLICITUD</th>
                  <th rowspan="2">TIPO SOLICITUD</th>
                  <th rowspan="2">DESCRIPCION</th>
                  <th rowspan="2">ZONA</th>
                  <th rowspan="2">DIRECCION</th>
                  <th rowspan="2">PRIORIDAD</th>
                  <th rowspan="2">COMPLEJIDAD</th>
                  <th rowspan="2">ESTADO SOLICITUD</th>
                  <th rowspan="2">ESTADO ORDEN</th>
                  <th rowspan="2">AVANCE DE ASIGNACION TECNICOS</th>
                  <th rowspan="2">ASIGNACION TECNICO/REASIGNACION TECNICO</th>
                  <th colspan="3">PERIODO EJECUCION</th>
                </tr>
                <tr>
                  <th>FECHA INICIO</th>
                  <th>FECHA FIN</th>
                  <th>DURACION</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ordenServicio of listaOrdenServicioPar">
                  <!-- <td class="xs-hidden text-center">{{ordenServicio.id_orden_servicio}}</td> -->
                  <td class="xs-hidden text-center">{{ordenServicio.nro}}</td>
                  <td class="xs-hidden text-center">
                    {{ ordenServicio.numero_orden}}
                  </td>
                  <td class="xs-hidden text-center">
                    {{ ordenServicio.solicitud.numero_solicitud}}
                  </td>
                  <td class="xs-hidden text-center">
                    {{ ordenServicio.sub_tipo_solicitud.tipo_solicitud.tipo_solicitud}}
                  </td>
                  <td class="xs-hidden text-center">{{ordenServicio.solicitud.descripcion}}</td>
                  <td class="xs-hidden text-center">{{ordenServicio.zona.zona}}</td>
                  <td class="xs-hidden text-center">{{ordenServicio.solicitud.cliente.direccion}}</td>
                  <td class="xs-hidden text-center">
                    <a style="color: #ffffff" class="btn btnSCursor"
                      [class.btn-warning]="ordenServicio.tipo_prioridad.tipo_prioridad==='Programada'"
                      [class.btn-danger]="ordenServicio.tipo_prioridad.tipo_prioridad==='Emergencia'">{{ordenServicio.tipo_prioridad.tipo_prioridad}}</a>
                  </td>
                  <td class="xs-hidden text-center">
                    <a style="color: #ffffff" class="btn btnSCursor"
                      [class.btn-danger]="ordenServicio.complejidad_servicio.complejidad_servicio==='Alta'"
                      [class.btn-warning]="ordenServicio.complejidad_servicio.complejidad_servicio==='Media'"
                      [class.btn-success]="ordenServicio.complejidad_servicio.complejidad_servicio==='Baja'">
                      {{ordenServicio.complejidad_servicio.complejidad_servicio}}</a>
                  </td>
                  <td class="xs-hidden text-center">{{ordenServicio.estado_solicitud.estado}}</td>
                  <td class="xs-hidden text-center">{{ordenServicio.estado_orden.estado}}</td>
                  <td class="td-xs-d-tc td-xs-b-0 text-center" style="background:rgba(218, 239, 253, 0.3)">
                    <div class="xs-th xs-text-center"></div>
                    <div>
                      <div>
                        <a style="cursor: pointer;"
                          class="btnObraFase btnObraFase-{{ordenServicio.porcentaje_estado}} btn-icon btnSCursor">
                          <span>
                            {{ ordenServicio.porcentaje  + "%" }}
                          </span>
                          <i aria-hidden="true" class="fa icon-obra-fase"></i>
                        </a>
                      </div>
                      <!-- <ng-template #templatePintaIconoSinNumero>
                              <a style="cursor: pointer;" class="btnObraFase btnObraFase-obra btn-icon">
                                <span>
                                  &nbsp;
                                </span>
                                <i aria-hidden="true" class="fa icon-obra-fase"></i>
                              </a>
                            </ng-template> -->
                    </div>
                    <ng-template #templateSinFase>
                    </ng-template>
                  </td>
                  <td>
                    <a *ngIf="ordenServicio.reasigna===1" id="btnAsignar" (click)="openModal(ordenServicio)"
                      title="Asignar técnicos"><img src="../../../assets/img/icons/asig_tecnico.svg"
                        style="height: 25px;width:25px;" /></a>
                    <a *ngIf="ordenServicio.reasigna===2" id="btnReAsignar" (click)="openModal(ordenServicio)"
                      title="ReaAsignar técnicos"><img src="../../../assets/img/icons/reasig_tecnico.svg"
                        style="height: 25px;width:25px;" /></a>
                  <td>{{ordenServicio.solicitud.fecha_hora_inicio | date: 'dd/MM/yyyy HH:mm'}} </td>
                  <td>{{ordenServicio.solicitud.fecha_hora_fin | date: 'dd/MM/yyyy HH:mm'}} </td>
                  <td>
                    {{diferenciaFechas(ordenServicio.solicitud.fecha_hora_inicio, ordenServicio.solicitud.fecha_hora_fin)}}
                    horas</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-12">
            <nav class="pt-4 pl-3 float-right">
              <pagination [totalItems]="totalRegistros" [itemsPerPage]="numPaginasMostrar" [boundaryLinks]="true"
                previousText="&lsaquo;" nextText="&rsaquo;" [rotate]="false" firstText="&laquo;" lastText="&raquo;"
                [maxSize]="5" [(ngModel)]="paginaActual" (pageChanged)="cambiarPagina($event)">
              </pagination>


            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>